langchain
langchain-community
langchain-core
faiss-cpu
pypdf
transformers
torch
sentence-transformers
openai
anthropic
python-dotenv
click
streamlit
pandas
ollama
langchain_openai
langchain_anthropic
langchain_google_genai
langgraph
langchain_docling
langchain_unstructured
langchain_huggingface
unstructured
markdown